Repository voxpupuli/puppet-mosquitto, pull requests merged in 2022-05, with the labels that each got.

#25 don't try to create config and systemd dropin for ensure absent
  manifests/config.pp
  manifests/service.pp
  spec/classes/mosquitto_spec.rb
Labels: bug

#26 modulesync 5.2.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  Dockerfile
  Gemfile
Labels: modulesync

#27 Release 1.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
