Repository voxpupuli/puppet-mosquitto, pull requests merged in 2023-10, with the labels that each got.

#36 puppetlabs/stdlib: Allow 9.x
  metadata.json
Labels: enhancement

#39 drop support for ubuntu 16.04
  metadata.json
Labels: backwards-incompatible

#40 drop support for debian 9
  metadata.json
Labels: backwards-incompatible

#42 drop support for fedora 31 & 32
  metadata.json
Labels: backwards-incompatible

#41 add support for fedora 37 & 38
  metadata.json
Labels: enhancement

#35 modulesync 7.0.0
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
  spec/spec_helper.rb
Labels: modulesync

#37 Add Puppet 8 support
  metadata.json
Labels: enhancement

#43 release 2.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
